<h1>Welcome to the Candidate Recommendation Generator!</h1>

<h4>Let's prepare to generate a candidate recommendation for the <%= @job.job_title %> Position!

Firstly please note the final decision of whom to hire is entirely up to you and your team.

The candidate recommendation generator will take into account the job criteria scores you
listed for the candidates.

If you feel strongly about a different candidate after seeing the results we highly recommend you go with your "gut" so to speak.</h4>

<h3>Ready?</h3>

<button>Expecto Candidate Recommendation!</button>


Write the logic for the app to generate a cnadidate recommendation
Logic should compare final 2-3 top candidates' total scores and make a recommendation of
top candidate
In generate_rec view when HM selects "generate candidate" view will return recommendation
