<h1>What would you like to do today?</h1>

<div>
  <ul>
    <h4><%= link_to 'Create a New Job', '/jobs/new' %></h4>
  </ul>
</div>

<div>
  <ul>
    <h4><%= link_to 'Go to Dashboard', '/jobs/dashboard' %></h4>
  </ul>
</div>

<div>
  <ul>
    <h4><%= link_to 'View Settings', '/users/edit' %></h4>
  </ul>
</div>
