<div>
<h2>What is Expecto Hire?</h2>
  <p>Expecto Hire is a simple to use free applicant tracking system. The goal of
    Expecto Hire is to help reduce the arbituary nature of recruitment into easy
    to follow steps. ExpectoHire is ideal for entreprenuers and nonprofits that.</p>
</div>

<div> <h2>How To Use</h2> </div>

<div> <h2>Is it really free?</h2></div>

<div> <h2>Contact Us</h2> </div>
