    <title>ExpectoHire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--***********STYLE SWITCHER ****************-->
    	<div id="style-switcher" style="right: 0px;">
                <h2>Log In or Sign-Up</h2>
<div><a href="/users/sign_in"><i class="fa-icon-cogs main-color"></i> Log In</a></div>
<div><a href="/users/sign_up"><i class="fa-icon-cogs main-color"></i> Create an Account</a></div>
                    <!--Log In Slider -->
                </div>
