    <title>ExpectoHire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="container">

      <h1>Expecto Hire</h1>

      <h4>About</h4>
      <p>Expecto Hire is an applicant tracking system.</p>
